<app-panel [isContainer]="false"
           [title]="'service.category.add.title'">
  <div class="ngo-form-group">
    <form [formGroup]="form">
      <mat-form-field [appearance]="'outline'">
        <mat-label>{{'service.category.add.label.name' | translate}}</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
    </form>
  </div>
  <div actions class="ngo-form-group__actions">
    <button
      (click)="save()"
      [disabled]="!form.valid"
      color="primary"
      mat-button
      mat-raised-button
      type="button"
    >{{'service.category.add.actions.save' | translate}}
    </button>
  </div>
</app-panel>
