<div *ngFor="let item of services | keyvalue">
  <app-details-service-category *ngIf="item" [name]="item.key"></app-details-service-category>
  <mat-list *ngFor="let value of item.value">
    <mat-list-item style="border-bottom: 1px solid #e7e6ef; height: 100%; width: 90%; margin-left: 5%" *ngIf="item">
      <app-details-service [service]="value" (checkedEvent)="checkEvent($event)"></app-details-service>
    </mat-list-item>
  </mat-list>
</div>
<app-details-appointment *ngIf="checkedList.length>0" [checkedServices]="checkedList"></app-details-appointment>
