@import 'node_modules/@angular/material/theming';

@include mat-core();

$md-ngOffice: (
  50 : #e4e3ea,
  100 : #bcb9cb,
  200 : #8f8aa8,
  300 : #625b85,
  400 : #41376b,
  500 : #1f1451,
  600 : #1b124a,
  700 : #170e40,
  800 : #120b37,
  900 : #0a0627,
  A100 : #12b6f7,
  A200 : #0f9ed7,
  A400 : #096b93,
  A700 : #084d68,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$nt-yellow: (
  50 : #fdf8e6,
  100 : #fbedc2,
  200 : #f8e199,
  300 : #f5d470,
  400 : #f3cb51,
  500 : #f1c232,
  600 : #efbc2d,
  700 : #edb426,
  800 : #ebac1f,
  900 : #e79f13,
  A100 : #ffffff,
  A200 : #fff4e2,
  A400 : #ffe2af,
  A700 : #ffd896,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$nt-green: (
  50 : #e2e6e7,
  100 : #b8c1c3,
  200 : #88989b,
  300 : #586f72,
  400 : #355054,
  500 : #113136,
  600 : #0f2c30,
  700 : #0c2529,
  800 : #0a1f22,
  900 : #051316,
  A100 : #57ddff,
  A200 : #24d2ff,
  A400 : #00bff0,
  A700 : #00abd6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);


$nt-dark-purple: (
  50 : #e7e6ef,
  100 : #c4c1d7,
  200 : #9d98bd,
  300 : #756ea2,
  400 : #584f8e,
  500 : #3a307a,
  600 : #342b72,
  700 : #2c2467,
  800 : #251e5d,
  900 : #18134a,
  A100 : #8f85ff,
  A200 : #6152ff,
  A400 : #321fff,
  A700 : #1a06ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);




$main-font-color: #3F4254;

$my-app-primary: mat-palette($md-ngOffice);
$my-app-accent:  mat-palette($md-ngOffice, A200, A400, A700);
$my-app-alter: mat-palette($nt-yellow, 600, 700, 800);
$my-app-warn:    mat-palette($mat-red);
$my-app-blue:    mat-palette($mat-blue);
$my-app-yellow:    mat-palette($mat-yellow);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

$primaryColor: map-get($my-app-primary, 600);
$primaryColorLight: map-get($my-app-primary, 300);

$accentColorBase: map-get($my-app-accent, A200);

$alternativeColorBase: map-get($my-app-alter, 800);
$alterBlueColorBase: map-get($my-app-blue, 800);
$alterYellowColorBase: map-get($my-app-yellow, 800);
$alterWarnColorBase: map-get($my-app-warn, 800);
