<app-panel [isContainer]="true"
           [title]="'appointment.checkout.add.title'">
  <div class="checkout-wrapper">
    <form [formGroup]="form">
      <div class="side-left">
        <div class="checkout-employees">
          <mat-form-field [appearance]="'outline'" class="employee-mat-form-field">
            <mat-label>Choose user</mat-label>
            <mat-select [formControl]="form.controls.user" required>
              <mat-option *ngFor="let option of users"
                          [value]="option.id">{{option.firstName + ' ' + option.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-list *ngFor="let item of mapServicePriceLists | keyvalue; let i = index;">
            <mat-list-item style="border-bottom: 1px solid #e7e6ef; height: 100%; width: 90%; margin-left: 5%">
              <div class="employees-block">
                <app-details-service [service]="item.key" [disableChecked]="true"></app-details-service>
                <div class="employees-wrapper">
                  <div class="employee-select" formArrayName="formArray">
                    <div *ngFor="let employee of getEmployee(item.key) | keyvalue; let j =index;">
                      <mat-form-field [appearance]="'outline'" class="employee-mat-form-field">
                        <mat-label>{{extractNameFromJson(employee.key)}}</mat-label>
                        <mat-select [formControl]="getIndex(i, j)" required>
                          <mat-option *ngFor="let option of employee.value"
                                      [value]="option.executor.username">{{option.executor.firstName + ' ' + option.executor.lastName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class=" employee-next">
                    <button mat-icon-button aria-label="Next" (click)="nextEmployee(item.key)">
                      <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="time-ranges">
          <mat-chip-list>
            <mat-chip *ngFor="let timeRange of timeRanges$ | async"
                      (click)="onTimeSelected(timeRange)"
                      style=" background-color: #DBDCE4; color: #2c2467">
              {{timeRange}}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div class="side-right">
        <div class="calendar-content">
          <mat-card class="demo-inline-calendar-card">
            <mat-calendar [selected]="form.get('date').value"
                          (selectedChange)="updateFormDate($event)"></mat-calendar>
          </mat-card>
          <p>Selected date: {{form ? (form.controls.date.value | date) : ''}}</p>
        </div>
      </div>
    </form>
  </div>
  <div actions class="ngo-form-group__actions">
    <button
      (click)="save()"
      [disabled]="!form.valid || !selectedTime"
      color="primary"
      mat-button
      mat-raised-button
      type="button"
    >{{'employee.category.add.actions.save' | translate}}
    </button>
  </div>
</app-panel>
